<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:errors] && !flash[:errors].empty? %>
  Sorry, there were the following problems with the form.
  <ul id="errors">
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
<% end %>
</div>
</ul>
<% end %>
  <%= yield %>
</body>
</html>